<br><br><br>

<div class="row">

<h1>Booking Space</h1>

<%= form_for @booking do |f| %>
  <div class="row">
    <div class="col-md-3 col-xs-6">
      <%= f.label :move_in, "Move In" %>
      <div class="input-group date mg-check-in focus">
        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
        <%= f.text_field :move_in, class:"form-control input-group date", "data-provide"=>"datepicker", placeholder:"mm/dd/yyyy"%>
      </div>
    </div>

    <div class="col-md-3 col-xs-6">
      <%= f.label :move_out, "Move Out" %>
      <div class="input-group date mg-check-in focus">
        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
        <%= f.text_field :move_out, class:"form-control input-group date", "data-provide"=>"datepicker", placeholder:"mm/dd/yyyy"%>
      </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-3 col-xs-6">
      <%= f.hidden_field :space_listing_id %>
      <%= f.submit "Book Now", class:"btn btn-success btn-block" %>
    </div>
  </div>
<% end %>

</div>
