<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, :class => "navbar-brand" do  %>
          <p class="logo">BetterSpace</p>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "List View of Listings", list_view_path %></li>
                <li><%= link_to "Map View of Listings", space_listings_path %></li>
                <li><%= link_to "Add New Listing", new_space_listing_path %></li>
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= gravatar_tag current_user.email, size: 20 %>&nbsp;
              <%= current_user.full_name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Your Bookings", your_bookings_path %></li>
              <li><%= link_to "Your Rented Spaces", your_rented_spaces_path %></li>
              <li><%= link_to "Your Favorite Listings", favorites_path %></li>
              <li><%= link_to 'Settings', edit_user_registration_path %></li>
            </ul>
            <li><%= link_to 'Sign out', destroy_user_session_path, :class => "signup", method: :delete %></li>
          </li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path, :class => "signin" %></li>
          <li><%= link_to 'Sign up', new_user_registration_path, :class => "signup" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
