<h1>Booking Request</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Move In</th>
    <th>Move Out</th>
    <th>Renter Name</th>
    <th>Approved</th>
    <th>Action</th>
  </tr>

  <% @space_listings.each do |space_listing| %>
    <tr>
      <td><%= space_listing.title %></td>
      <td><%= space_listing.address %></td>

      <% space_listing.bookings.each do |booking| %>
        <td><%= booking.move_in.to_date %></td>
        <td><%= booking.move_out.to_date %></td>
        <td><%= booking.user.first_name %></td>
        <td><%= booking.approved_status %></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>

</table>
