<%= form_for @space_listing, :html => { multipart: true }  do |f| %>
<% if @space_listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@space_listing.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @space_listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <%= f.label :title, "Listing name" %>
  <%= f.text_field :title, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :description, "Description" %>
  <%= f.text_area :description, :class => "form-control input-lg", row:"7" %>
</div>
<div class="form-group">
  <%= f.label :day_rent, "Day rent" %>
  <%= f.text_field :day_rent, :class => "form-control" %>
  <%= f.label :monthly_rent, "Monthly rent" %>
  <%= f.text_field :monthly_rent, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :space_type, "Space type" %>
  <%= f.select :space_type, [["Garage","Garage"], ["House","House"]], {include_blank: "Select Type"}, { :class => 'form-control' } %>
</div>
<div class="form-group">
  <%= f.label :environment_type, "Environment type" %>
  <%= f.select :environment_type, [["Indoor","Indoor"], ["Outdoor","Outdoor"]], {include_blank: "Select Environment"}, { :class => 'form-control' } %>
</div>
<div class="form-group">
  <%= f.label :size_length, "Length" %>
  <%= f.text_field :size_length, :class => "form-control" %>
  <%= f.label :size_width, "Width" %>
  <%= f.text_field :size_width, :class => "form-control" %>
  <%= f.label :size_height, "Height" %>
  <%= f.text_field :size_height, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :address, "Street address" %>
  <%= f.text_area :address, :class => "form-control input-lg", row:"5" %>
</div>
<div class="form-group">
  <%= f.label :city, "City" %>
  <%= f.text_field :city, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :state, "State/Province/Region" %>
  <%= f.text_field :state, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :zip_code, "Zip/Postal Code" %>
  <%= f.text_field :zip_code, :class => "form-control" %>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <span class="btn btn-default btn-file">
          <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos
          <%= file_field_tag "images[]", type: :file, multiple: true %>
      </span>
    </div>
  </div>
</div>

<p>
  <%= f.submit f.object.new_record? ? "Create" : "Update", :class => "btn btn-success btn-lg" %>
</p>
<% end %>
