<%= form_for @space_listings, :html => { multipart: true }  do |f| %>
<p>
  <%= f.label :title, "Listing name" %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :day_rent, "Day rent" %>
  <%= f.text_field :day_rent %>
  <%= f.label :monthly_rent, "Monthly rent" %>
  <%= f.text_field :monthly_rent %>
</p>
<p>
  <%= f.label :space_type, "Space type" %>
  <%= f.select :space_type, [["Garage","Garage"], ["House","House"]], id: "space_type", prompt: "Select space", class: "form-control" %>
  <%= f.label :environment_type, "Environment type" %>
  <%= f.select :environment_type, [["Indoor","Indoor"], ["Outdoor","Outdoor"]], id: "environment_type", prompt: "Select environment", class: "form-control" %>
</p>
<p>
  <%= f.label :size_length, "Length" %>
  <%= f.text_field :size_length %>
  <%= f.label :size_width, "Width" %>
  <%= f.text_field :size_width %>
  <%= f.label :size_height, "Height" %>
  <%= f.text_field :size_height %>
</p>
<p>
  <%= f.label :address, "Street address" %>
  <%= f.text_area :address %>
</p>
<p>
  <%= f.label :city, "City" %>
  <%= f.text_field :city %>
</p>
<p>
  <%= f.label :state, "State/Province/Region" %>
  <%= f.text_field :state %>
</p>
<p>
  <%= f.label :zip_code, "Zip/Postal Code" %>
  <%= f.text_field :zip_code %>
</p>
<p>
  <%= f.submit f.object.new_record? ? "Create" : "Update" %>
</p>
<% end %>
