<!DOCTYPE html>
<html lang="en">
<head>
  <title>BetterSpace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,800' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="//v2.zopim.com/?407B8H3hH60KdVddhdfz6rBY9DPbvWOd";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>
  <!--End of Zopim Live Chat Script-->
</head>
<body id="top">
  <%= render "shared/topbar" %>
  <%= render "shared/navbar" %>
  <% if notice.present? || alert.present?  %>
  <div class="alert <%= styleFlash(notice.present?, alert.present?)%>">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <% if notice.present? %>
    <p><%= notice %></p>
    <% end %>
    <% if alert.present? %>
    <p><%= alert %></p>
    <% end %>
  </div>
  <% end %>

  <%= yield %>

  <%= render "shared/footer" %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
